.form-login{
    display: flex;
}
.form-login {
    align-items: center;
    justify-content: center;
    margin-top: 3.375rem;
}

.password-input {
    padding-top: 25px;
}

.login-title {
    display: flex
}

.login-title {
    align-items: center;
    justify-content: center;
    margin-top: 200px;
}
