$color-blue: rgb(56, 54, 214);
a {color: $color-blue}

body {
    background-image: url("../../utilities/images/lilypads.png");
}


.form-login {
    display: flex;
}
.form-login {
    align-items: center;
    justify-content: center;
    margin-top: 3.375rem;
}

.password-input {
    padding-top: 1.5625rem;
}

.login-title {
    display: flex
}

.login-title {
    align-items: center;
    justify-content: center;
    margin-top: 12.5rem;
}

.login-btn {
    width: 100%;
}

.signup-login {
    padding: 0.3125rem;
}
