.form-login{
    display: flex;
}
.form-login {
    align-items: center;
    justify-content: center;
    margin-top: 3.375rem;
    border-radius: 3px;
}

.center-form{
    border:1px solid rgb(86, 94, 211);
    padding: 20px;
    border-radius: 5px;
}

.password-input {
    padding-top: 25px;
    padding-bottom: 25px;
}

.login-title {
    display: flex
}

.login-title {
    align-items: center;
    justify-content: center;
    margin-top: 200px;
}

